
/*
	Site Name: E-Office Portal - Online office management system
	URI: http:http://eoffice.techware.co.in/
	Description: This is the custom css for E0ffice portal
	Version: 2.0
	Author: Amal-Techware Solution
	Author URI: 
	Tags:
	
	---------------------------
	CUSTOM STYLES
	---------------------------
	
	TABLE OF CONTENTS
	---------------------------
	 01. HOME-PAGE-STYLE


*/


/*-------------------------------

01. HOME-PAGE-STYLE 

--------------------------------*/


.h_main_navbar{padding: 30px;}
.h_main_navbar_shrink{padding:10px;transition: all .50s ease;-webkit-transition: all .50s ease;}


section.module:last-child {margin-bottom: 0;}
section.module.content {padding: 40px 0;}
section.module.parallax {background-position: 50% 50%;background-repeat: no-repeat;background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover;}
section.module.parallax-1 {background-image: url("https://i.ytimg.com/vi/KXqa2JS182g/maxresdefault.jpg");}